@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@model sultan.Web.ViewModels.BooksBAUViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
    <link rel="stylesheet" href="/style/table.css">
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
<center>
<form method="get" action="~/Users/auth">
        <input type="submit" value="Выход"/>
    </form>
    <p>количество книг у пользователя: @Model.Temps.Count</p>
    <p>@Model.idUser</p>
</center>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Presence</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.Name</td>
            <td>@book.Author</td>
            
            
                @if (Model.Temps.Any(b => b.idB == book.Id))
                {
                    
                    <td>
                        <form method="post" action="~/Home/ReturnBook">
                            <input type="hidden" name="bookId" value="@book.Id"/>
                            <input type="hidden" name="userId" value="@Model.idUser"/>
                            <button type="submit">Вернуть</button>
                        </form>
                    </td>
                    <td>@book.Presence</td>
                }
                else
                {
                    
                    <td>
                        <form method="post" action="~/Home/AddBook">
                            <input type="hidden" name="bookId" value="@book.Id"/>
                            <input type="hidden" name="userId" value="@Model.idUser"/>
                            <button type="submit">Добавить</button>
                        </form>
                    </td>
                    <td>@book.Presence</td>
                }
        </tr>
    }
    </tbody>
</table>
</body>
</html>